# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Coverage directory
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store